In [41]:
# Import necessary libraries
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
import seaborn as sns
import matplotlib.pyplot as plt

In [42]:
# Load the dataset
df = pd.read_csv('drug200.csv')  
df

     Age Sex      BP Cholesterol  Na_to_K   Drug
0     23   F    HIGH        HIGH   25.355  DrugY
1     47   M     LOW        HIGH   13.093  drugC
2     47   M     LOW        HIGH   10.114  drugC
3     28   F  NORMAL        HIGH    7.798  drugX
4     61   F     LOW        HIGH   18.043  DrugY
..   ...  ..     ...         ...      ...    ...
195   56   F     LOW        HIGH   11.567  drugC
196   16   M     LOW        HIGH   12.006  drugC
197   52   M  NORMAL        HIGH    9.894  drugX
198   23   M  NORMAL      NORMAL   14.020  drugX
199   40   F     LOW      NORMAL   11.349  drugX

[200 rows x 6 columns]

In [43]:
df.columns

Index(['Age', 'Sex', 'BP', 'Cholesterol', 'Na_to_K', 'Drug'], dtype='object')

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          200 non-null    int64
 1   Sex          200 non-null    object
 2   BP           200 non-null    object
 3   Cholesterol  200 non-null    object
 4   Na_to_K      200 non-null    float64
 5   Drug         200 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 9.5+ KB

In [45]:
df.describe()

              Age     Na_to_K
count  200.000000  200.000000
mean    44.315000   16.084485
std     16.544315    7.223956
min     15.000000    6.269000
25%     31.000000   10.445500
50%     45.000000   13.936500
75%     58.000000   19.380000
max     74.000000   38.247000

In [46]:
df.dropna()

     Age Sex      BP Cholesterol  Na_to_K   Drug
0     23   F    HIGH        HIGH   25.355  DrugY
1     47   M     LOW        HIGH   13.093  drugC
2     47   M     LOW        HIGH   10.114  drugC
3     28   F  NORMAL        HIGH    7.798  drugX
4     61   F     LOW        HIGH   18.043  DrugY
..   ...  ..     ...         ...      ...    ...
195   56   F     LOW        HIGH   11.567  drugC
196   16   M     LOW        HIGH   12.006  drugC
197   52   M  NORMAL        HIGH    9.894  drugX
198   23   M  NORMAL      NORMAL   14.020  drugX
199   40   F     LOW      NORMAL   11.349  drugX

[200 rows x 6 columns]

In [47]:
print("Missing Values:")
print(df.isnull().sum())

Missing Values:
Age            0
Sex            0
BP             0
Cholesterol    0
Na_to_K        0
Drug           0
dtype: int64

In [48]:
for i in ['Sex', 'BP', 'Cholesterol', 'Drug']:
    print(df[i].value_counts(), "\n")
    print("*"*200,"\n")

Sex
M    104
F     96
Name: count, dtype: int64

********************************************************************************************************************************************************************************************************

BP
HIGH      77
LOW       64
NORMAL    59
Name: count, dtype: int64

********************************************************************************************************************************************************************************************************

Cholesterol
HIGH      103
NORMAL     97
Name: count, dtype: int64

********************************************************************************************************************************************************************************************************

Drug
DrugY    91
drugX    54
drugA    23
drugC    16
drugB    16
Name: count, dtype: int64

********************************************************************************************************************************************************************************************************

In [49]:
# Encode categorical features
sex = LabelEncoder()
bp = LabelEncoder()
cholestrol = LabelEncoder()
drug = LabelEncoder()

df['Sex'] = sex.fit_transform(df['Sex'])
df['BP'] = bp.fit_transform(df['BP'])
df['Cholesterol'] = cholestrol.fit_transform(df['Cholesterol'])
df['Drug'] = drug.fit_transform(df['Drug'])

df

     Age  Sex  BP  Cholesterol  Na_to_K  Drug
0     23    0   0            0   25.355     0
1     47    1   1            0   13.093     3
2     47    1   1            0   10.114     3
3     28    0   2            0    7.798     4
4     61    0   1            0   18.043     0
..   ...  ...  ..          ...      ...   ...
195   56    0   1            0   11.567     3
196   16    1   1            0   12.006     3
197   52    1   2            0    9.894     4
198   23    1   2            1   14.020     4
199   40    0   1            1   11.349     4

[200 rows x 6 columns]

In [50]:
X = df.drop("Drug", axis=1)
y = df["Drug"]

# Normalize features
scaler = MinMaxScaler()
X_normalized = scaler.fit_transform(X)

# Convert back to DataFrame for readability
X_normalized_df = pd.DataFrame(X_normalized, columns=X.columns)

# Combine with target if needed
normalized_df = pd.concat([X_normalized_df, y.reset_index(drop=True)], axis=1)

print(normalized_df.head())

        Age  Sex   BP  Cholesterol   Na_to_K  Drug
0  0.135593  0.0  0.0          0.0  0.596848     0
1  0.542373  1.0  0.5          0.0  0.213397     3
2  0.542373  1.0  0.5          0.0  0.120239     3
3  0.220339  0.0  1.0          0.0  0.047814     4
4  0.779661  0.0  0.5          0.0  0.368191     0

In [51]:
# # Prepare features and target
X = normalized_df.iloc[:, :-1].values  # All columns except the last
y = normalized_df.iloc[:, -1].values   # Only the last column

In [52]:
X

array([[0.13559322, 0.        , 0.        , 0.        , 0.59684783],
       [0.54237288, 1.        , 0.5       , 0.        , 0.21339671],
       [0.54237288, 1.        , 0.5       , 0.        , 0.12023891],
       [0.22033898, 0.        , 1.        , 0.        , 0.04781412],
       [0.77966102, 0.        , 0.5       , 0.        , 0.36819063],
       [0.11864407, 0.        , 1.        , 0.        , 0.07311277],
       [0.57627119, 0.        , 1.        , 0.        , 0.31290262],
       [0.44067797, 1.        , 0.5       , 0.        , 0.14910251],
       [0.76271186, 1.        , 1.        , 0.        , 0.27837889],
       [0.47457627, 1.        , 0.5       , 1.        , 0.40962537],
       [0.54237288, 0.        , 0.5       , 0.        , 0.1719307 ],
       [0.3220339 , 0.        , 0.        , 1.        , 0.40434048],
       [0.47457627, 1.        , 0.5       , 0.        , 0.28478954],
       [1.        , 0.        , 0.5       , 0.        , 0.45884671],
       [0.59322034, 0.        , 1.        , 0.        , 0.20120083],
       [0.01694915, 0.        , 0.        , 1.        , 0.28916755],
       [0.91525424, 1.        , 0.5       , 1.        , 0.16217399],
       [0.47457627, 1.        , 0.        , 0.        , 0.24088436],
       [0.13559322, 1.        , 0.5       , 0.        , 0.03217837],
       [0.28813559, 0.        , 0.        , 1.        , 0.61620489],
       [0.71186441, 1.        , 0.5       , 1.        , 0.40212021],
       [0.81355932, 1.        , 1.        , 0.        , 0.61442242],
       [0.54237288, 1.        , 0.5       , 1.        , 0.75986616],
       [0.55932203, 0.        , 0.5       , 0.        , 0.27415723],
       [0.30508475, 0.        , 0.5       , 0.        , 0.85111639],
       [0.22033898, 0.        , 0.        , 1.        , 0.3921446 ],
       [0.27118644, 1.        , 0.        , 0.        , 0.75354932],
       [0.57627119, 0.        , 1.        , 1.        , 0.09731691],
       [0.40677966, 0.        , 0.5       , 1.        , 0.51372819],
       [0.50847458, 1.        , 0.5       , 0.        , 0.36531365],
       [0.05084746, 0.        , 1.        , 1.        , 0.07758459],
       [1.        , 1.        , 0.        , 0.        , 0.1031334 ],
       [0.57627119, 1.        , 0.5       , 1.        , 0.14838326],
       [0.84745763, 0.        , 0.        , 1.        , 0.80076928],
       [0.6440678 , 1.        , 1.        , 0.        , 0.24591907],
       [0.52542373, 1.        , 1.        , 1.        , 0.03177184],
       [0.28813559, 1.        , 0.        , 1.        , 0.09931828],
       [0.40677966, 1.        , 0.5       , 1.        , 0.23982113],
       [0.40677966, 0.        , 1.        , 1.        , 0.10757396],
       [0.        , 1.        , 1.        , 0.        , 0.08802927],
       [0.98305085, 0.        , 1.        , 0.        , 0.40502846],
       [0.72881356, 0.        , 0.        , 1.        , 0.24923385],
       [0.59322034, 1.        , 1.        , 1.        , 0.29773594],
       [0.13559322, 1.        , 1.        , 0.        , 0.18734755],
       [0.59322034, 0.        , 1.        , 1.        , 0.18844205],
       [0.86440678, 0.        , 1.        , 1.        , 0.05747702],
       [0.37288136, 0.        , 0.        , 0.        , 0.21333417],
       [0.89830508, 1.        , 0.5       , 0.        , 0.12577397],
       [0.13559322, 1.        , 1.        , 0.        , 0.79482769],
       [0.22033898, 0.        , 0.5       , 0.        , 0.42300957],
       [0.72881356, 0.        , 0.        , 0.        , 0.4111264 ],
       [0.88135593, 1.        , 1.        , 1.        , 0.14475577],
       [0.79661017, 1.        , 0.5       , 1.        , 0.65401213],
       [0.15254237, 0.        , 0.        , 1.        , 0.38113703],
       [0.89830508, 0.        , 0.        , 1.        , 0.12258428],
       [0.18644068, 0.        , 0.5       , 0.        , 0.2467634 ],
       [0.84745763, 1.        , 0.        , 1.        , 0.15857777],
       [0.42372881, 1.        , 0.        , 0.        , 0.67411971],
       [0.76271186, 1.        , 1.        , 1.        , 0.11951967],
       [0.3220339 , 1.        , 0.        , 0.        , 0.38882982],
       [0.38983051, 0.        , 0.5       , 1.        , 0.73819501],
       [0.15254237, 1.        , 0.        , 1.        , 0.10025643],
       [0.88135593, 1.        , 0.5       , 1.        , 0.4510601 ],
       [0.50847458, 1.        , 0.5       , 1.        , 0.06570142],
       [0.76271186, 0.        , 0.        , 0.        , 0.21996373],
       [0.89830508, 0.        , 1.        , 1.        , 0.64985302],
       [0.23728814, 1.        , 0.        , 0.        , 0.20598536],
       [0.03389831, 1.        , 1.        , 1.        , 0.14269185],
       [0.66101695, 1.        , 1.        , 0.        , 0.5750516 ],
       [0.05084746, 0.        , 0.        , 1.        , 0.56310589],
       [0.93220339, 1.        , 0.        , 0.        , 0.240728  ],
       [0.22033898, 0.        , 1.        , 0.        , 0.41922572],
       [0.15254237, 0.        , 1.        , 0.        , 0.13559322],
       [0.44067797, 0.        , 1.        , 1.        , 0.52023266],
       [0.27118644, 1.        , 0.        , 1.        , 0.33773219],
       [0.18644068, 1.        , 0.5       , 1.        , 0.45781475],
       [0.3559322 , 0.        , 0.        , 0.        , 0.15413722],
       [0.18644068, 0.        , 0.        , 1.        , 0.40315217],
       [0.06779661, 0.        , 0.        , 0.        , 0.22027644],
       [0.28813559, 0.        , 0.5       , 1.        , 0.14294202],
       [0.76271186, 1.        , 0.        , 0.        , 0.23969604],
       [0.83050847, 1.        , 1.        , 0.        , 0.04665708],
       [0.28813559, 0.        , 0.5       , 0.        , 0.10766777],
       [0.38983051, 0.        , 0.        , 1.        , 0.15813997],
       [0.54237288, 0.        , 0.5       , 0.        , 0.11876915],
       [0.74576271, 1.        , 0.        , 0.        , 0.23972731],
       [0.61016949, 0.        , 1.        , 0.        , 0.22915755],
       [0.91525424, 1.        , 0.5       , 0.        , 0.28797924],
       [0.37288136, 0.        , 0.        , 1.        , 0.52604916],
       [0.59322034, 0.        , 1.        , 1.        , 0.34217274],
       [0.79661017, 1.        , 1.        , 0.        , 0.32287823],
       [0.44067797, 1.        , 0.        , 1.        , 0.27790981],
       [0.23728814, 0.        , 0.        , 0.        , 0.72490462],
       [0.45762712, 0.        , 0.5       , 1.        , 0.71930702],
       [0.69491525, 1.        , 0.5       , 0.        , 0.27350053],
       [0.3559322 , 1.        , 0.5       , 1.        , 0.16120458],
       [0.72881356, 0.        , 0.5       , 0.        , 1.        ],
       [0.69491525, 0.        , 0.        , 0.        , 0.59809869],
       [0.08474576, 1.        , 0.        , 1.        , 0.91844393],
       [0.        , 0.        , 0.        , 1.        , 0.3269748 ],
       [0.27118644, 1.        , 0.        , 1.        , 0.17518294],
       [0.50847458, 0.        , 0.        , 0.        , 0.20592282],
       [0.22033898, 0.        , 0.5       , 0.        , 0.21445994],
       [0.69491525, 1.        , 1.        , 0.        , 0.08433923],
       [0.11864407, 1.        , 0.        , 1.        , 0.68875477],
       [0.37288136, 1.        , 0.5       , 1.        , 0.08440178],
       [0.11864407, 1.        , 1.        , 0.        , 0.1777472 ],
       [0.45762712, 1.        , 0.5       , 0.        , 0.42979548],
       [0.96610169, 1.        , 0.        , 1.        , 0.10657327],
       [0.13559322, 1.        , 1.        , 0.        , 0.33088373],
       [0.59322034, 1.        , 0.        , 0.        , 0.0381825 ],
       [0.54237288, 0.        , 1.        , 1.        , 0.0129464 ],
       [0.33898305, 1.        , 0.5       , 1.        , 0.09071862],
       [0.84745763, 0.        , 0.5       , 1.        , 0.23453624],
       [0.08474576, 0.        , 1.        , 1.        , 0.09418976],
       [0.61016949, 1.        , 0.        , 0.        , 0.37607105],
       [0.88135593, 1.        , 1.        , 1.        , 0.10147601],
       [0.42372881, 0.        , 1.        , 0.        , 0.11989493],
       [0.28813559, 0.        , 0.        , 1.        , 0.12580524],
       [0.77966102, 0.        , 0.        , 0.        , 0.60060041],
       [0.22033898, 1.        , 1.        , 0.        , 0.65029082],
       [0.        , 1.        , 0.        , 1.        , 0.34201639],
       [0.3220339 , 1.        , 1.        , 0.        , 0.50619176],
       [0.3559322 , 0.        , 1.        , 0.        , 0.3278504 ],
       [0.6440678 , 0.        , 0.        , 1.        , 0.19469635],
       [0.06779661, 0.        , 0.        , 1.        , 0.61604853],
       [0.86440678, 1.        , 0.        , 0.        , 0.31515417],
       [0.33898305, 1.        , 1.        , 1.        , 0.04928388],
       [0.54237288, 1.        , 0.5       , 1.        , 0.8528676 ],
       [0.28813559, 0.        , 1.        , 0.        , 0.03777597],
       [0.93220339, 0.        , 1.        , 0.        , 0.44468072],
       [0.62711864, 1.        , 0.5       , 1.        , 0.83347927],
       [0.57627119, 1.        , 0.5       , 1.        , 0.22918882],
       [0.15254237, 1.        , 1.        , 0.        , 0.61032585],
       [0.45762712, 0.        , 0.        , 0.        , 0.46178623],
       [1.        , 1.        , 0.5       , 1.        , 0.1773094 ],
       [0.6779661 , 0.        , 0.        , 0.        , 0.14722622],
       [0.33898305, 0.        , 0.        , 0.        , 0.20717368],
       [0.61016949, 1.        , 0.        , 1.        , 0.15867159],
       [0.91525424, 0.        , 1.        , 0.        , 0.11870661],
       [0.57627119, 1.        , 0.        , 1.        , 0.        ],
       [0.83050847, 0.        , 0.5       , 1.        , 0.60891863],
       [0.76271186, 1.        , 0.        , 1.        , 0.07355057],
       [1.        , 1.        , 0.        , 1.        , 0.28666583],
       [0.40677966, 1.        , 0.        , 0.        , 0.10616674],
       [0.77966102, 1.        , 1.        , 0.        , 0.09925574],
       [0.37288136, 0.        , 0.5       , 1.        , 0.17940459],
       [0.18644068, 0.        , 0.        , 1.        , 0.18881731],
       [0.77966102, 0.        , 0.5       , 1.        , 0.03349178],
       [0.11864407, 1.        , 0.5       , 0.        , 0.05885296],
       [0.57627119, 1.        , 0.        , 1.        , 0.07602101],
       [0.89830508, 1.        , 0.        , 0.        , 0.14822691],
       [0.6779661 , 1.        , 1.        , 1.        , 0.03102133],
       [0.96610169, 0.        , 0.5       , 1.        , 0.26183626],
       [0.37288136, 1.        , 0.5       , 1.        , 0.32694352],
       [0.57627119, 1.        , 0.5       , 0.        , 0.13346676],
       [0.27118644, 1.        , 0.        , 1.        , 0.15504409],
       [0.6440678 , 1.        , 0.5       , 0.        , 0.52204641],
       [0.74576271, 0.        , 0.5       , 0.        , 0.13055851],
       [0.3220339 , 0.        , 0.5       , 1.        , 0.20808056],
       [0.25423729, 0.        , 1.        , 0.        , 0.13052724],
       [0.71186441, 0.        , 0.        , 1.        , 0.11495403],
       [0.47457627, 1.        , 1.        , 1.        , 0.20607918],
       [0.10169492, 0.        , 0.        , 1.        , 0.69932454],
       [0.01694915, 1.        , 0.        , 1.        , 0.39833636],
       [0.38983051, 1.        , 0.5       , 0.        , 0.37607105],
       [0.72881356, 0.        , 0.5       , 0.        , 0.63718807],
       [0.71186441, 0.        , 1.        , 0.        , 0.2485146 ],
       [0.61016949, 0.        , 0.5       , 1.        , 0.52329727],
       [0.08474576, 0.        , 0.        , 0.        , 0.1561386 ],
       [0.22033898, 0.        , 1.        , 0.        , 0.20670461],
       [0.50847458, 1.        , 0.5       , 1.        , 0.11720558],
       [0.40677966, 0.        , 1.        , 1.        , 0.34261054],
       [0.44067797, 0.        , 0.5       , 1.        , 0.38995559],
       [0.45762712, 1.        , 0.        , 1.        , 0.20317093],
       [0.98305085, 0.        , 0.        , 0.        , 0.37772844],
       [0.55932203, 1.        , 0.        , 1.        , 0.13062105],
       [0.16949153, 1.        , 1.        , 0.        , 0.39846144],
       [0.40677966, 1.        , 1.        , 0.        , 0.30333354],
       [0.88135593, 0.        , 1.        , 0.        , 0.30089436],
       [0.11864407, 0.        , 0.        , 1.        , 0.51751204],
       [0.74576271, 0.        , 1.        , 0.        , 0.23813247],
       [0.08474576, 0.        , 0.5       , 1.        , 0.16939771],
       [0.3559322 , 0.        , 0.        , 1.        , 0.28835449],
       [0.05084746, 0.        , 0.        , 0.        , 0.96688348],
       [0.71186441, 0.        , 1.        , 1.        , 0.6136719 ],
       [0.93220339, 1.        , 0.        , 0.        , 0.11195197],
       [0.54237288, 1.        , 0.        , 0.        , 0.12927638],
       [0.84745763, 1.        , 0.        , 1.        , 0.89836763],
       [0.83050847, 1.        , 0.        , 1.        , 0.45853399],
       [0.72881356, 1.        , 0.        , 0.        , 0.39783601],
       [0.13559322, 1.        , 0.        , 0.        , 0.05447495],
       [0.96610169, 1.        , 0.5       , 0.        , 0.31399712],
       [0.96610169, 1.        , 0.5       , 0.        , 0.01563575],
       [0.52542373, 0.        , 0.        , 0.        , 0.88864219],
       [0.69491525, 0.        , 0.5       , 0.        , 0.1656764 ],
       [0.01694915, 1.        , 0.5       , 0.        , 0.17940459],
       [0.62711864, 1.        , 1.        , 0.        , 0.11335918],
       [0.13559322, 1.        , 1.        , 1.        , 0.24238539],
       [0.42372881, 0.        , 0.5       , 1.        , 0.15885922]])

In [53]:
y

array([0, 3, 3, 4, 0, 4, 0, 3, 0, 0, 3, 0, 0, 0, 4, 0, 4, 1, 3, 0, 0, 0,
       0, 0, 0, 0, 0, 4, 0, 0, 4, 2, 4, 0, 4, 4, 1, 4, 4, 4, 0, 2, 0, 4,
       4, 4, 1, 3, 0, 0, 0, 4, 0, 0, 2, 3, 2, 0, 4, 0, 0, 1, 0, 4, 2, 0,
       1, 4, 0, 0, 2, 0, 4, 0, 0, 0, 1, 0, 1, 4, 2, 4, 3, 1, 3, 2, 4, 0,
       0, 0, 0, 0, 0, 0, 0, 4, 0, 0, 0, 0, 1, 1, 3, 4, 0, 4, 4, 0, 2, 0,
       1, 4, 4, 4, 4, 0, 4, 4, 1, 0, 0, 0, 0, 0, 2, 0, 0, 4, 0, 4, 0, 0,
       4, 0, 0, 4, 2, 1, 2, 4, 1, 0, 2, 0, 1, 4, 4, 1, 4, 3, 1, 2, 4, 4,
       0, 3, 1, 0, 3, 4, 4, 2, 4, 0, 0, 0, 0, 4, 0, 1, 4, 4, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 4, 4, 0, 0, 0, 2, 1, 0, 0, 0, 1, 0, 3, 0, 3, 3, 4,
       4, 4])

Classic ML models

In [54]:
# Splitting the dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

Training the Decision Tree classifier

In [55]:
model1 = DecisionTreeClassifier(random_state=42)
model1.fit(X_train, y_train)

y_pred_dt = model1.predict(X_test)
dt_accuracy = accuracy_score(y_test, y_pred_dt)
dt_classification_report = classification_report(y_test, y_pred_dt)
dt_confusion_matrix = confusion_matrix(y_test, y_pred_dt)

print("Accuracy:", dt_accuracy)
print("\nClassification Report:\n", dt_classification_report)
print("\nConfusion Matrix:\n",dt_confusion_matrix )

Accuracy: 1.0

Classification Report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00        15
           1       1.00      1.00      1.00         6
           2       1.00      1.00      1.00         3
           3       1.00      1.00      1.00         5
           4       1.00      1.00      1.00        11

    accuracy                           1.00        40
   macro avg       1.00      1.00      1.00        40
weighted avg       1.00      1.00      1.00        40


Confusion Matrix:
 [[15  0  0  0  0]
 [ 0  6  0  0  0]
 [ 0  0  3  0  0]
 [ 0  0  0  5  0]
 [ 0  0  0  0 11]]

In [56]:
model2 = KNeighborsClassifier(n_neighbors=5)
model2.fit(X_train, y_train)

y_pred_knn = model2.predict(X_test)
knn_accuracy = accuracy_score(y_test, y_pred_knn)
knn_classification_report = classification_report(y_test, y_pred_knn)
knn_confusion_matrix = confusion_matrix(y_test, y_pred_knn)

print("Accuracy:", knn_accuracy)
print("\nClassification Report:\n", knn_classification_report)
print("\nConfusion Matrix:\n",knn_confusion_matrix )

Accuracy: 0.85

Classification Report:
               precision    recall  f1-score   support

           0       0.85      0.73      0.79        15
           1       0.75      1.00      0.86         6
           2       1.00      1.00      1.00         3
           3       1.00      0.60      0.75         5
           4       0.85      1.00      0.92        11

    accuracy                           0.85        40
   macro avg       0.89      0.87      0.86        40
weighted avg       0.86      0.85      0.84        40


Confusion Matrix:
 [[11  2  0  0  2]
 [ 0  6  0  0  0]
 [ 0  0  3  0  0]
 [ 2  0  0  3  0]
 [ 0  0  0  0 11]]

In [57]:
model3 = RandomForestClassifier(n_estimators=100, random_state=42)
model3.fit(X_train, y_train)


y_pred_rf = model3.predict(X_test)
rf_accuracy = accuracy_score(y_test, y_pred_rf)
rf_classification_report = classification_report(y_test, y_pred_rf)
rf_confusion_matrix = confusion_matrix(y_test, y_pred_rf)

print("Accuracy:", rf_accuracy)
print("\nClassification Report:\n", rf_classification_report)
print("\nConfusion Matrix:\n",rf_confusion_matrix )

Accuracy: 1.0

Classification Report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00        15
           1       1.00      1.00      1.00         6
           2       1.00      1.00      1.00         3
           3       1.00      1.00      1.00         5
           4       1.00      1.00      1.00        11

    accuracy                           1.00        40
   macro avg       1.00      1.00      1.00        40
weighted avg       1.00      1.00      1.00        40


Confusion Matrix:
 [[15  0  0  0  0]
 [ 0  6  0  0  0]
 [ 0  0  3  0  0]
 [ 0  0  0  5  0]
 [ 0  0  0  0 11]]

In [58]:
model4 = SVC(kernel='linear')
model4.fit(X_train, y_train)


y_pred_svm = model4.predict(X_test)
svm_accuracy = accuracy_score(y_test, y_pred_svm)
svm_classification_report = classification_report(y_test, y_pred_svm)
svm_confusion_matrix = confusion_matrix(y_test, y_pred_svm)

print("Accuracy:", svm_accuracy)
print("\nClassification Report:\n", svm_classification_report)
print("\nConfusion Matrix:\n",svm_confusion_matrix )

Accuracy: 0.825

Classification Report:
               precision    recall  f1-score   support

           0       0.68      1.00      0.81        15
           1       1.00      0.67      0.80         6
           2       1.00      0.67      0.80         3
           3       1.00      0.20      0.33         5
           4       1.00      1.00      1.00        11

    accuracy                           0.82        40
   macro avg       0.94      0.71      0.75        40
weighted avg       0.88      0.82      0.80        40


Confusion Matrix:
 [[15  0  0  0  0]
 [ 2  4  0  0  0]
 [ 1  0  2  0  0]
 [ 4  0  0  1  0]
 [ 0  0  0  0 11]]

In [59]:
models = ["Decision Tree", "KNN", "Random Forest", "SVM"]
accuracies = [
    accuracy_score(y_test, y_pred_dt),
    accuracy_score(y_test, y_pred_knn),
    accuracy_score(y_test, y_pred_rf),
    accuracy_score(y_test, y_pred_svm)
]
precisions_weighted = [
    precision_score(y_test, y_pred_dt, average="weighted", zero_division=0),
    precision_score(y_test, y_pred_knn, average="weighted", zero_division=0),
    precision_score(y_test, y_pred_rf, average="weighted", zero_division=0),
    precision_score(y_test, y_pred_svm, average="weighted", zero_division=0)
]
recalls_weighted = [
    recall_score(y_test, y_pred_dt, average="weighted", zero_division=0),
    recall_score(y_test, y_pred_knn, average="weighted", zero_division=0),
    recall_score(y_test, y_pred_rf, average="weighted", zero_division=0),
    recall_score(y_test, y_pred_svm, average="weighted", zero_division=0)
]
f1s_weighted = [
    f1_score(y_test, y_pred_dt, average="weighted", zero_division=0),
    f1_score(y_test, y_pred_knn, average="weighted", zero_division=0),
    f1_score(y_test, y_pred_rf, average="weighted", zero_division=0),
    f1_score(y_test, y_pred_svm, average="weighted", zero_division=0)
]
precisions_macro = [
    precision_score(y_test, y_pred_dt, average="macro", zero_division=0),
    precision_score(y_test, y_pred_knn, average="macro", zero_division=0),
    precision_score(y_test, y_pred_rf, average="macro", zero_division=0),
    precision_score(y_test, y_pred_svm, average="macro", zero_division=0)
]
recalls_macro = [
    recall_score(y_test, y_pred_dt, average="macro", zero_division=0),
    recall_score(y_test, y_pred_knn, average="macro", zero_division=0),
    recall_score(y_test, y_pred_rf, average="macro", zero_division=0),
    recall_score(y_test, y_pred_svm, average="macro", zero_division=0)
]
f1s_macro = [
    f1_score(y_test, y_pred_dt, average="macro", zero_division=0),
    f1_score(y_test, y_pred_knn, average="macro", zero_division=0),
    f1_score(y_test, y_pred_rf, average="macro", zero_division=0),
    f1_score(y_test, y_pred_svm, average="macro", zero_division=0)
]


# Build the summary DataFrame
summary_df = pd.DataFrame({
    "Model": models,
    "Accuracy": accuracies,
    "Precision_weighted": precisions_weighted,
    "Recal_weighted": recalls_weighted,
    "F1 Score_weighted": f1s_weighted,
    "Precision_macro": precisions_weighted,
    "Recal_macro": recalls_weighted,
    "F1 Score_macro": f1s_weighted

})

# Round for better readability
summary_df = summary_df.round(3)
summary_df

,Model,Accuracy,Precision_weighted,Recal_weighted,F1 Score_weighted,Precision_macro,Recal_macro,F1 Score_macro
0,Decision Tree,1.000,1.000,1.000,1.000,1.000,1.000,1.000
1,KNN,0.850,0.862,0.850,0.844,0.862,0.850,0.844
2,Random Forest,1.000,1.000,1.000,1.000,1.000,1.000,1.000
3,SVM,0.825,0.881,0.825,0.801,0.881,0.825,0.801