In [1]:
# Import necessary libraries
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [20]:
# Load the dataset
df = pd.read_csv('drug200.csv')

In [21]:
df

     Age Sex      BP Cholesterol  Na_to_K   Drug
0     23   F    HIGH        HIGH   25.355  DrugY
1     47   M     LOW        HIGH   13.093  drugC
2     47   M     LOW        HIGH   10.114  drugC
3     28   F  NORMAL        HIGH    7.798  drugX
4     61   F     LOW        HIGH   18.043  DrugY
..   ...  ..     ...         ...      ...    ...
195   56   F     LOW        HIGH   11.567  drugC
196   16   M     LOW        HIGH   12.006  drugC
197   52   M  NORMAL        HIGH    9.894  drugX
198   23   M  NORMAL      NORMAL   14.020  drugX
199   40   F     LOW      NORMAL   11.349  drugX

[200 rows x 6 columns]

In [22]:
df.columns

Index(['Age', 'Sex', 'BP', 'Cholesterol', 'Na_to_K', 'Drug'], dtype='object')

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          200 non-null    int64
 1   Sex          200 non-null    object
 2   BP           200 non-null    object
 3   Cholesterol  200 non-null    object
 4   Na_to_K      200 non-null    float64
 5   Drug         200 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 9.5+ KB

In [24]:
df.describe()

              Age     Na_to_K
count  200.000000  200.000000
mean    44.315000   16.084485
std     16.544315    7.223956
min     15.000000    6.269000
25%     31.000000   10.445500
50%     45.000000   13.936500
75%     58.000000   19.380000
max     74.000000   38.247000

In [25]:
df.dropna()

     Age Sex      BP Cholesterol  Na_to_K   Drug
0     23   F    HIGH        HIGH   25.355  DrugY
1     47   M     LOW        HIGH   13.093  drugC
2     47   M     LOW        HIGH   10.114  drugC
3     28   F  NORMAL        HIGH    7.798  drugX
4     61   F     LOW        HIGH   18.043  DrugY
..   ...  ..     ...         ...      ...    ...
195   56   F     LOW        HIGH   11.567  drugC
196   16   M     LOW        HIGH   12.006  drugC
197   52   M  NORMAL        HIGH    9.894  drugX
198   23   M  NORMAL      NORMAL   14.020  drugX
199   40   F     LOW      NORMAL   11.349  drugX

[200 rows x 6 columns]

In [8]:
df["Sex"].value_counts().sort_index()

Sex
F     96
M    104
Name: count, dtype: int64

In [9]:
df["BP"].value_counts().sort_index()

BP
HIGH      77
LOW       64
NORMAL    59
Name: count, dtype: int64

In [10]:
df["Cholesterol"].value_counts().sort_index()

Cholesterol
HIGH      103
NORMAL     97
Name: count, dtype: int64

In [11]:
df["Drug"].value_counts().sort_index()

Drug
DrugY    91
drugA    23
drugB    16
drugC    16
drugX    54
Name: count, dtype: int64

In [15]:
# Encode categorical features
sex = LabelEncoder()
bp = LabelEncoder()
cholestrol = LabelEncoder()
drug = LabelEncoder()

df['Sex'] = sex.fit_transform(df['Sex'])
df['BP'] = bp.fit_transform(df['BP'])
df['Cholesterol'] = cholestrol.fit_transform(df['Cholesterol'])
df['Drug'] = drug.fit_transform(df['Drug'])

In [16]:
# Prepare features and target
X = df[['Age', 'Sex', 'BP', 'Cholesterol', 'Na_to_K']]
y = df['Drug']

X.head()

   Age  Sex  BP  Cholesterol  Na_to_K
0   23    0   0            0   25.355
1   47    1   1            0   13.093
2   47    1   1            0   10.114
3   28    0   2            0    7.798
4   61    0   1            0   18.043

In [14]:
y.head()

0    0
1    3
2    3
3    4
4    0
Name: Drug, dtype: int64

In [4]:
y

0      0
1      3
2      3
3      4
4      0
      ..
195    3
196    3
197    4
198    4
199    4
Name: Drug, Length: 200, dtype: int64