In [ ]:
# Import necessary libraries
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Load the dataset
df = pd.read_csv('drug200.csv')  

# Encode categorical features
le_sex = LabelEncoder()
le_bp = LabelEncoder()
le_chol = LabelEncoder()
le_drug = LabelEncoder()

df['Sex'] = le_sex.fit_transform(df['Sex'])
df['BP'] = le_bp.fit_transform(df['BP'])
df['Cholesterol'] = le_chol.fit_transform(df['Cholesterol'])
df['Drug'] = le_drug.fit_transform(df['Drug'])

# Prepare features and target
X = df[['Age', 'Sex', 'BP', 'Cholesterol', 'Na_to_K']]
y = df['Drug']

X.head()

   Age  Sex  BP  Cholesterol  Na_to_K
0   23    0   0            0   25.355
1   47    1   1            0   13.093
2   47    1   1            0   10.114
3   28    0   2            0    7.798
4   61    0   1            0   18.043

In [4]:
X, y

(     Age  Sex  BP  Cholesterol  Na_to_K
 0     23    0   0            0   25.355
 1     47    1   1            0   13.093
 2     47    1   1            0   10.114
 3     28    0   2            0    7.798
 4     61    0   1            0   18.043
 ..   ...  ...  ..          ...      ...
 195   56    0   1            0   11.567
 196   16    1   1            0   12.006
 197   52    1   2            0    9.894
 198   23    1   2            1   14.020
 199   40    0   1            1   11.349

 [200 rows x 5 columns],
 0      0
 1      3
 2      3
 3      4
 4      0
       ..
 195    3
 196    3
 197    4
 198    4
 199    4
 Name: Drug, Length: 200, dtype: int32)

In [3]:
y

0      0
1      3
2      3
3      4
4      0
      ..
195    3
196    3
197    4
198    4
199    4
Name: Drug, Length: 200, dtype: int32